body {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007ACC;
  --secondary-color: #D1D5DA;
  --border-color: #1F6FEB;
  --active-color: #2EA043;
  --bottom-border-color: rgb(43, 38, 38);
  --font-family: sans-serif;
  --card-color: rgb(237, 231, 231);
  --extra-color: #999;
  
}


/* EXTRA COLORS LATER TO BE CONSIDERED */
/* primary color can liye suit karta hai #4d6495 */
